<ul class="layui-nav layui-nav-tree layui-bg-cyan layui-inline">
  <li class="layui-nav-item notifications" data-id="1"><a href="{% url 'comment:message' %}"><i class="layui-icon layui-icon-dialogue"></i> 评论 <span class="layui-badge read-comments" style="margin-left:60px;display:none"></span></a></li>
  <li class="layui-nav-item notifications" data-id="2"><a href="{% url 'comment:comments' %}"><i class="layui-icon layui-icon-reply-fill"></i> 回复 <span class="layui-badge read-commented" style="margin-left:60px;display:none"></span></a></li>
  <li class="layui-nav-item notifications" data-id="3"><a href="javascript:void(0)"><i class="layui-icon layui-icon-help"></i> 其他消息</a></li>
</ul>