{% extends "article/base.html" %}
{% load staticfiles %}
{% block title %} 文章栏目 {% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/layui.css' %}">
{% endblock %}

{% block content %}
<div>
    <p class="text-right">
        <button id="add_column" onclick="add_column()" class="layui-btn layui-btn-normal">add column</button>
    </p>
    <div class="columns-table">
  <table class="layui-table"  lay-even="" lay-skin="nob">
    <colgroup>
      <col class="layui-col-xs4">
      <col class="layui-col-xs4">
      <col class="layui-col-xs4">
    </colgroup>
    <thead>
      <tr>
            <td>序号</td>
            <td>栏目名称</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody>
      {% for column in columns %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ column.column }}</td>
            <td>
                <a name="edit" class="edit_btn" href="javascript:" onclick="edit_column(this, {{ column.id }})"> <i class="layui-icon layui-icon-edit" style="color: #1E9FFF;"></i> 编辑</a>
                <a name="delete"class="edit_btn"  href="javascript:" onclick="del_column(this, {{ column.id }})"><span class="layui-icon layui-icon-delete" style="margin-left:20px;">删除</span></a>
            </td>
        </tr>
        {% empty %}
        <p>还没有设置栏目，太懒了。</p>
        {% endfor %}
    </tbody>
  </table>
</div>
</div>


{% endblock %}

{% block javascript %}
<script type="text/javascript" src='{% static "js/jquery.js" %}'></script>
<script type="text/javascript" src="{% static 'js/layer.js'%}"></script>
<script type="text/javascript" src="{% static 'js/layui.js' %}"></script>
<script type="text/javascript">
    $('.edit_btn').hover(function(){
        $(this).toggleClass('btn-hover');
    })

    function add_column() {
        var index = layer.open({
            type: 1,
            skin: "layui-layer-rim",
            area: ["400px", "200px"],
            title: "新增栏目",
            content: '<div class="layui-form-item" style="margin:45px 40px 0 0;"><label class="layui-form-label">请输入栏目</label><div class="layui-input-block"><input type="text" name="article_column" id="id_column" lay-verify="article_column" autocomplete="off" placeholder="请输入栏目名" class="layui-input"></div></div>',
            btn: ['确定', '取消'],
            yes: function (index, layero) {
                column_name = $('#id_column').val();
                $.ajax({
                    url: '{% url "article:article_column" %}',
                    type: 'POST',
                    data: { "column": column_name },
                    success: function (e) {
                        if (e == "1") {
                            parent.location.reload();
                            layer.msg("good");
                        } else {
                            layer.msg("此栏目已有，请更换名称")
                        }
                    },
                });
            },
            btn2: function (index, layero) {
                layer.close(index);
            }
        });
    }

    function edit_column(the, column_id){
        var name = $(the).parents("tr").children("td").eq(1).text();
        var index = layer.open({
            type: 1,
            skin: "layui-layer-rim",
            area: ["400px", "200px"],
            title: "编辑栏目",
            content: '<div class="layui-form-item" style="margin:45px 40px 0 0;"><label class="layui-form-label">请输入栏目</label><div class="layui-input-block"><input type="text" name="new_name" id="new_name" lay-verify="new_name" autocomplete="off" placeholder="请输入新的栏目名" class="layui-input" value="'+name+'"></div></div>',
            btn:['确定', '取消'],
            yes: function(index, layero){
                new_name = $("#new_name").val();
                $.ajax({
                    url: "{% url 'article:rename_article_column' %}",
                    type: "POST",
                    data: {"column_id": column_id, "column_name": new_name},
                    success: function(e){
                        if(e=="1"){
                            parent.location.reload();
                            layer.msg("good");
                        }else{
                            layer.msg("新的名称没有保存,修改失败。")
                        }
                    },
                });
            },
        });
    }

    function del_column(the, column_id){
        var name = $(the).parents("tr").children("td").eq(1).text();
        layer.open({
            type: 1,
            skin: "layui-layer-rim",
            area: ["400px", "200px"],
            title: "删除栏目",
            content: '<div style="margin:45px 0 0 30px;font-weight:400;font-size:16px"><p>是否确定删除 '+name+' 栏目</p> </div>',
            btn:['确定', '取消'], yes: function(){
                $.ajax({
                    url: '{% url "article:del_article_column" %}',
                    type:"POST",
                    data: {"column_id":column_id},
                    success: function(e){
                        if(e=="1"){
                            parent.location.reload();
                            layer.msg("has been deleted.");
                        }else{
                            layer.msg("删除失败");
                        }
                    },
                })
            },
        });
    }
</script>

{% endblock %}
